#footer {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #434343, #000000);
  font-size: 24px;
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 480px) {
  #footer {
    font-size: 18px;
  }
}
